<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %highlight{%-8level} %-16logger{0} %msg%n" />
        </Console>
        <RollingFile name="File" fileName="wallet.log" filePattern="wallet-%i.zip"
            ignoreExceptions="false">
            <SizeBasedTriggeringPolicy size="50 MB" />
            <append>true</append>
            <createOnDemand>true</createOnDemand>
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ssZ} %-8level %-16logger{0} %msg%n" />
        </RollingFile>
        <Async name="Async">
            <AppenderRef ref="File" />
            <AppenderRef ref="Console" />
            <LinkedTransferQueue />
        </Async>
    </Appenders>
    <Loggers>
        <Logger name="org.elastos.jwallet" level="INFO" />
        <Root level="INFO">
            <AppenderRef ref="Async" />
        </Root>
    </Loggers>
</Configuration>
